[submodule "distro"]
	path = distro
	url = https://github.com/jhondge/distro.git
	branch = upstream
[submodule "extra/optnet"]
	path = extra/optnet
	url = https://github.com/fmassa/optimize-net.git
	branch = master
